<%- include('../partials/header.ejs') %>

<h1>Add a ticket</h1>
<br>
<p>for flight <strong><%= flight.flightNo%></strong> out of <strong><%= flight.airport%></strong></p>
<br>
<form action="/flights/<%= flight._id %>/tickets" method="POST">
  
  <div class="form-group">
    <label for="select-seat">Seat</label>
    <input type="text" class="form-control" id="select-seat" name="seat" placeholder="ex: B19">
  </div>
  <div class="form-group">
    <label for="select-price">Price</label>
    <input type="number" class="form-control" id="select-price" name="price" placeholder="ex: $0.00">
  </div>
  
  <button type="submit" class="btn btn-primary">SUBMIT</button>

</form>

<%- include('../partials/footer.ejs') %>