<%- include('../partials/header.ejs') %>


<h1>Your Upcoming Flights</h1>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Airport</th>
        <th scope="col">Flight No.</th>
        <th scope="col">Departure</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

        <% flights.forEach(function(flight) { %>
            <tr <%= flight.departs < currentTime ? 'style=color:red' : ''%> >
                <td><%= flight.airline %></td>
                <td><%= flight.airport %></td>
                <td><%= flight.flightNo %></td>
                <td><%= flight.departs %></td>
                <td><a class="btn btn-secondary" href="/flights/<%= flight._id %>">Details</a></td>
                <td>
                  <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </td>
            </tr>
        <% }); %>
    
    </tbody>
</table>
<br>
<a class="btn btn-secondary" href="/flights/new">Add New Flight</a>

<%- include('../partials/footer.ejs') %>
