<%- include('../partials/header.ejs') %>

<a href="/flights" class="btn btn-secondary">Go Back</a>



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Flight Details</h5>
        <p class="card-text">Here are the details for your upcoming flight:</p>
        <ul>
            <li class="spaced-li">Departure: <strong><%= flight.departs.toLocaleString()%></strong></li>
            <li class="spaced-li">Airline: <%= flight.airline%></li>
            <li class="spaced-li">Flight Number: <%= flight.flightNo%></li>
            <li class="spaced-li">Airport: <%= flight.airport%></li>
        </ul>
    </div>
</div>

<div class="show-view-table-container">
    <% if (tickets.length > 0) { %>
        <h5 class="show-view-table-heading">Tickets: </h5>
        <table class="table show-view-table">
            <thead>
                <tr>
                <th scope="col">Seat</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <% tickets.forEach(function(ticket) { %>
                    <tr>
                        <td><%= ticket.seat %></td>
                        <td>$<%= ticket.price %></td>
                        <td>
                            <form action="/flights/<%= flight._id %>/tickets/<%= ticket._id%>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-secondary">DELETE</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-secondary">Add Ticket</a>

    <% } else { %>
        <h5 style="display: inline">No tickets yet</h5>
        <a href="/flights/<%= flight._id %>/tickets/new" class="btn btn-secondary" style="float: right">Add Ticket</a>
    <% }; %>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Add Destination:</h5>
        <form class="form-group" action="/flights/<%= flight._id %>/destinations" method="POST">
            <label for="add-airport-form">Destination airport:</label>
            <select class="form-control" id="add-airport-form" name="destination">
                <!-- only allow selection of unused destinations -->
                <% const destinationsArr = ['AUS','DFW','DEN','LAX','SAN']; %>
                <% const usedDestinations = [flight.airport]; %>
                <% flight.destinations.forEach(function(destination) { %>
                    <% usedDestinations.push(destination.destination); %>
                <% }); %>

                <% destinationsArr.forEach(function(destination) { %>
                    <% if (!usedDestinations.includes(destination)) { %>
                        <option><%= destination %></option>
                    <% }; %>
                <% }); %>
              </select>
            <label for="add-time-form">Expected Arrival:</label>
            <input type="datetime-local" class="form-control add-destination"  id="add-time-form" name="arrival" placeholder="EX: DEN">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="show-view-table-container">
    <% if (flight.destinations.length > 0) { %>
        <h5 class="show-view-table-heading">Destinations: </h5>
        <table class="table show-view-table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Airport</th>
                <th scope="col">Estimated Arrival</th>
                </tr>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(destination, idx) { %>
                    <tr>
                        <th scope="row"><%= idx + 1 %></th>
                        <td><%= destination.destination %></td>
                        <td><%= destination.arrival.toLocaleString() %></td>
                        <td>
                            <form action="/flights/<%= flight._id%>/destinations/<%= destination._id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-secondary">DELETE</button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>


    <% } else { %>
        <h5>Destinations: None specified</h5>
    <% }; %>
</div>


<%- include('../partials/footer.ejs') %>