<%- include('../partials/header.ejs') %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Flight Details</h5>
        <p class="card-text">Here are the details for your upcoming flight:</p>
        <ul>
            <li class="spaced-li">Departure: <strong><%= flight.departs%></strong></li>
            <li class="spaced-li">Airline: <%= flight.airline%></li>
            <li class="spaced-li">Flight Number: <%= flight.flightNo%></li>
            <li class="spaced-li">Airline: <%= flight.airport%></li>
            <li class="spaced-li">Destination(s): <%= flight.destinations.length > 0 ? flight.destinations : 'None specified' %></li>
        </ul>
        <a href="/flights" class="btn btn-secondary">Go Back</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Add Destination:</h5>
        <form class="form-group" action="POST">
            <label for="add-airport-form">Destination airport:</label>
            <input type="text" class="form-control add-destination" id="add-airport-form" name="destination" placeholder="EX: DEN">
            <label for="add-time-form">Expected Arrival:</label>
            <input type="datetime-local" class="form-control add-destination"  id="add-time-form" name="arrival" placeholder="EX: DEN">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</div>

<%- include('../partials/footer.ejs') %>