<%- include('../partials/header.ejs') %>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Flight Details</h5>
        <p class="card-text">Here are the details for your upcoming flight:</p>
        <ul>
            <li class="spaced-li">Departure: <strong><%= flight.departs%></strong></li>
            <li class="spaced-li">Airline: <%= flight.airline%></li>
            <li class="spaced-li">Flight Number: <%= flight.flightNo%></li>
            <li class="spaced-li">Airport: <%= flight.airport%></li>
        </ul>
        <a href="/flights" class="btn btn-secondary">Go Back</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Add Destination:</h5>
        <form class="form-group" action="/flights/<%= flight._id %>/destinations" method="POST">
            <label for="add-airport-form">Destination airport:</label>
            <select class="form-control" id="add-airport-form" name="destination">
                <option>AUS</option>
                <option>DEN</option>
                <option>DFW</option>
                <option>LAX</option>
                <option>SAN</option>
              </select>
            <label for="add-time-form">Expected Arrival:</label>
            <input type="datetime-local" class="form-control add-destination"  id="add-time-form" name="arrival" placeholder="EX: DEN">
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
    </div>
</div>

<div class="destinations-table-container">
    <% if (flight.destinations.length > 0) { %>
        <h5 class="destinations-table-heading">Destinations: </h5>
        <table class="table destinations-table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Airport</th>
                <th scope="col">Estimated Arrival</th>
                </tr>
            </thead>
            <tbody>
                <% flight.destinations.forEach(function(destination, idx) { %>
                    <tr>
                        <th scope="row"><%= idx + 1 %></th>
                        <td><%= destination.destination %></td>
                        <td><%= destination.arrival %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>


    <% } else { %>
        <h5>Destinations: None specified</h5>
    <% }; %>
</div>


<%- include('../partials/footer.ejs') %>